*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: block;
    font-family: "Kumbh Sans", serif;
    background-color: hsl(185, 75%, 39%);
}

.bg-pattern-top {
    height: 25rem;
    margin-top: -190px;
    margin-left: -210px;
}



.bg-pattern-card {
    position: relative;
    top: -90px;
    left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 99;
}

.second-div {
    position: relative;
    top: -90px;
    left: 17px;
    height: 260px;
    width: 350px;
    border: 1px solid  hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 13px;
}


.bg-pattern-bottom {
    height: 17rem;
    width: 5rem;
    position: relative;
    top: -250px;
    left: 60px;
    top: -120px;  
    left: 200px;
    z-index:  -99;
}

.image-victor {
    position: absolute;
    top: 220px;
    left: 150px;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
}

.Victor {
  position: absolute;
  top: 345px;
  left: 140px;
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
}

.Victor span {
     margin-left: 5px;
     color: hsl(227, 10%, 46%);
     font-weight: 400;
}

.London {
    position: absolute;
    top: 375px;
    left: 175px;
    font-size: 18px;
    color:  hsl(0, 0%, 59%)
}

hr {
    position: absolute;
    top: 430px;
    left: 33px;
    width: 344px;
    color:  hsl(227, 10%, 46%);
    opacity: 0.1;
}

footer { 
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -435px;
    left: 0;
    line-height: 1.5;
}

footer p {
    color:  hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.eighty {
    margin-left: 18px;
}

footer span {
    color: hsl(227, 10%, 46%);
}

footer .zero {
    position: relative;
    left: -3px;
}

footer .one {
    position: relative;
    left: -10px;
}
