*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: block;
    font-family: "Kumbh Sans", serif;
    background-color: hsl(185, 75%, 39%);
}

.bg-pattern-top {
    height: 50rem;
    margin-top: -400px;
    margin-left: -30px;
}



.bg-pattern-card {
   position: relative;
   top: -250px;
   left: 650px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   z-index: 99;
}

.second-div {
    position: relative;
    top: -260px;
    left: 650px;
    height: 260px;
    width: 350px;
    border: 1px solid  hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}


.bg-pattern-bottom {
    height: 50rem;
    /* width: 20rem; */
    position: relative;
    top: -480px;
    left: 900px;
    z-index:  -99;
}

.image-victor {
    position: absolute;
    top: 240px;
    left: 770px;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    z-index: 99;
}

.Victor {
    position: absolute;
    top: 365px;
    left: 760px;
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
  }

.Victor span {
     margin-left: 5px;
     color: hsl(227, 10%, 46%);
     font-weight: 400;
}

.London {
    position: absolute;
    top: 395px;
    left: 795px;
    font-size: 18px;
    font-weight: 400;
    color:  hsl(0, 0%, 59%)
}

hr {
    position: absolute;
    top: 460px;
    left: 650px;
    width: 344px;
    color:  hsl(227, 10%, 46%);
    opacity: 0.1;
}

footer { 
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 475px;
    left: 670px;
    line-height: 1.5;
}

footer p {
    color:  hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.eighty {
    margin-left: 18px;
}

footer span {
    color: hsl(227, 10%, 46%);
}

footer .zero {
    position: relative;
    left: 60px;
}


footer .one {
    position: relative;
    left: 130px;
}
